.nav-link.active .triangle {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid $site-banner-border-color;
}

.site-banner {
	background-image: $site-banner-bg-image;
  background-size: cover; 
  //background-color: $site-banner-bg;
  border-top: $site-banner-border;
  border-bottom: $site-banner-border;
	color: $site-banner-fg;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .organiser-image {
      width: map-get($organiser-image-w, $breakpoint);
    }
  }
}